@import url('https://fonts.googleapis.com/css?family=Signika Negative');
:root{
    --teal: #008b8b;
    --light-blue: #7fffd4;
    --dark-black:#140b1e;
    --red:#c83e3e;
}

/* *{
    color: white;
} */

.bg-teal{
    background-color: var(--teal);
}

.font-Signika-Negative{
    font-family: Signika Negative;
}

.bg-dark-black{
    background-color: var(--dark-black);
}

.bg-img-code{
    background-image: url(img/code_bg.png);
    background-size: cover;
}
.ls-3{
    letter-spacing: 3px;
}

.ls-2{
    letter-spacing: 2px;
}

.text-3{
    font-size: 3.5rem;
}

.text-2_5{
    font-size: 2.5rem;
}

.text-1{
    font-size: 0.5rem;
}

.text-2{
    font-size: 2rem;
}

.text-teal{
    color: var(--teal);
}
.text-light-blue{
    color: var(--light-blue);
}

.h-35{
    height: 35rem;
}

.h-45{
    height: 45rem;
}

.h-10{
    height: 10rem;
} 

.h-15{
    height: 25rem;
}

.width-25{
    width: 35%;
}

.round-circle{
    border-radius: 45%;
}

.cursor-pointer{
    cursor: pointer;
}
.nav-link-btn{
    color: white;
    text-decoration: none;
}

.decoration-none{
    text-decoration: none;
}

.nav-link-btn:hover{
    border-bottom: 1px solid var(--light-blue);
    color: var(--light-blue);
}

.vh-95{
    height: 92vh;
}

.h-100{
    height: 100%;
}

.width-80{
    width: 80%;
}
.width-10{
    width: 10rem;
}
.h-10{
    height: 10rem;
}
.bg-img{
    background-image: url('img/background.png');
    background-size: cover;
}
.positon-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.top-10{
    top: -85px;
}


/**************carousel**************/
.card_container{
    position: relative;
    width: 100%;
}

.card_left{
    transform: translatex(-40%) scale(0.8);
    z-index: 1;
}

.selected_card{
   transform: translatex(0) scale(1);
    z-index: 10;

}

.card_right{
    transform: translatex(40%) scale(0.8);  
    z-index: 1;
}

.project-card{
    position: absolute;
    width: 45%;
    height: 30rem;
    left: 27%;
    right: 0;
    margin: auto;
    transition: transform 0.4s ease;
}

#prev{
    position: absolute;
    left: 24.5%;
    top: 12rem;
    font-size: 30px;
    color: white;
    z-index: 20;
    cursor:pointer;
}

#next{
    position: absolute;
    cursor:pointer;
    top: 12rem;
    right: 25%;
    color: white;
    font-size: 30px;
    z-index: 20;

}

/**************carousel end**************/

.btn_cv{
    background-color: var(--light-blue);
    color: black;
    border: none;
    border-radius: 45px;
    padding: 0.5rem;
}

.btn_cv:hover{
    background-color:transparent;
    color: var(--red);
    border: 1px solid var(--red);
    transition: 0.5s;
}


::-webkit-scrollbar-track{
    background-color: transparent;
  }
  ::-webkit-scrollbar{
    width: 0.8vw;
  }
  ::-webkit-scrollbar-thumb{
    background-color: #2f2f2f;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-track{
    background-color: transparent;
  }


.contact{
    border: 1px solid var(--teal);
    width: 25%;
    padding: 1rem;
    border-radius: 25px;
}

.techno-pic{
    animation: zoom 4s infinite alternate-reverse;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

@keyframes zoom {
    from {transform: scale(1.1);}
    to {transform: scale(1);}
  }

@media only screen and (max-width: 1200px) {
    .h-35{
        height: 30rem;
    }
    .text-3{
        font-size: 3rem;
    }
    .text-2_5{
        font-size: 2rem;
    }
    .text-2{
        font-size: 1.5rem;
    }
    .project-card{
        width: 45%;
        height: 27rem;
        left: 28%;
    }
    /* .card_container{
        height: 80vh;
    } */
    .h-45{
        height: 40rem;
    }
    #prev{
        left: 24%;
        top: 10rem;
        font-size: 30px;
    }
    
    #next{
        top: 10rem;
        right: 22.5%;
        font-size: 30px;    
    }
}

@media only screen and (max-width: 1100px) {
    .project-card{
        width: 45%;
        height: 25rem;
        left: 28%;
    }
    .h-45{
        height: 40rem;
    }
    #prev{
        left: 23.8%;
        top: 9rem;
        font-size: 30px;
    }
    
    #next{
        top: 9rem;
        right: 22.4%;
        font-size: 30px;    
    }
}

@media only screen and (max-width: 992px) {
    .h-35{
        height: 28rem;
    }
    .text-3{
        font-size: 2.8rem;
    }
    .text-2_5{
        font-size: 1.8rem;
    }
    .text-2{
        font-size: 1.3rem;
    }
    .project-card{
        width: 50%;
        height: 25rem;
        left: 26%;
    }
    .h-45{
        height: 35rem;
    }
    .h-10{
        height: 8rem;
    } 
    .top-10{
        top: -75px;
    }
    #prev{
        left: 21%;
        top: 9rem;
        font-size: 30px;
    }
    
    #next{
        top: 9rem;
        right: 18.5%;
        font-size: 30px;    
    }
}

@media only screen and (max-width: 768px) {
    .h-35{
        height: 22rem;
    }
    .text-3{
        font-size: 1.5rem;
    }
    .text-2_5{
        font-size: 1.3rem;
    }
    .text-2{
        font-size: 1rem;
    }
    .project-card{
        width: 60%;
        height: 22rem;
        left: 19.5%;
    }
    .h-45{
        height: 35rem;
    }
    .h-10{
        height: 6rem;
    }
    .top-10{
        top: -40px;
        left: 10px;
    } 
    .mt-5{
        margin-top: 1rem;
    }
    #prev{
        left: 10%;
        top: 9rem;
        font-size: 30px;
        color: black;
    }
    
    #next{
        top: 9rem;
        right: 10%;
        font-size: 30px;    
        color: black;
    }
    p{
        font-size: 0.8rem;
    }
    .language_con{
        font-size: 0.6rem;
    }
}

@media only screen and (max-width: 576px) {
    .vh-95{
        height: 90vh;
    }
    .h-10{
        height: 4.5rem;
    }
    .language_con{
        font-size: 0.4rem;
    }

    .h-35{
        height: 20rem;
    }
}

